* {
    box-sizing: border-box;
}
.clearfix::after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear {
    clear: both;
}

/***************************************
/* HEADER
/***************************************/

header {
   height: 55px; 
   background-color: black;
   color: white;
   /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    width: 100%;
    padding: 0;
    list-style-type: none;
    /* font-size: 13px; */
    font-weight: 700;
    /* text-decoration: none; */ */
    
}
nav * {
    float: left;
    width: 10%;
    color: white;
    display: block;
    /* border-left: 1px solid white; */
    float: left;
    text-decoration: none;
}
nav ul {
    width: 55%;
}
nav form input {
    width: 100%;
    height: 25px;
    float: right;
    margin: 10px -270px;
}
nav li{
    text-align: center;
    box-sizing: inherit;
    margin: 5px 25px;
    align-items: center;
    width: auto;
    text-decoration: none;
    border-right: white;
    
}
nav img{
    float: left;
    margin: 5px;
    height: 45px;
    width: auto;
}
.sign-in{
    margin: 15px 15px;
}
li{
    border-right: white;
}

/***************************************
/* CONTAINER
/***************************************/

main + section > section {
    /* width: 33.3333%; */
    /* float: left; */
}
/* main > section {
    width: 40%;
    height: 500px;
    float: left;
} */

/* main > span {
    color: rgb(124, 120, 120);
    font-size: 25px;
    float: right;
    margin: 30px 0 20px 10px;
} */

main > .container{
    width: 35%;
    margin-left: 1px;
}
.container {
    /* margin: 1%; */
    /* width: 40%; */
    margin-top: 1px;
    
    position: relative; 
    float: left;  
}
.first-txt {
    position: absolute;
    bottom: 80px;
    left: 15px;
    color: #fff;
    font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
    font-weight: 100;
}
p.first-txt {
    position: absolute;
    bottom: 45px;
    left: 15px;
    color: #7b7373;
    margin-bottom: 0px;
    flex-wrap: wrap;
    width: 50%;
}
span.first-txt {
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: #7b7373;
}
.container > h2 {
    color: rgb(71, 69, 69);
    margin: 30px 0 20px 10px;
    float: left;
    font-size: 30px;
}
.container img {
    width: 80%;
    height: 80%;
}

/******************************
RIGHT 
/******************************/

.date{
    float: right;
    font-size: 30px;
    color: rgb(164, 166, 167);
    margin: 30px 25px 0px 0px;
}
.right {
    margin: 15px;
    /* width: auto; */
    /* margin-top: 75px; */
    position: relative; 
    /* height: auto; */
    /* width: auto; */
    float: right;
    /* border: 5px solid rgb(0, 255, 149); */
}
.right section{
    border: 4px solid rgb(0, 255, 179);
    width: 40%;
    /* margin: 0px 0px; */
    float: right;
}
.right img {
    width: 75%;
    height: 50%;
    /* float: left; */
    /* border: 4px solid rgb(0, 255, 179); */
    margin: 0px 0px;
}
h3{
    position: absolute;
    color: rgb(244, 247, 248);
    font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
    font-weight: 100;  
    flex-wrap: wrap;
    width: 250px;
}
.right span{
    position: absolute;
    color: rgb(83, 77, 77);
    font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
    font-weight: 100;  
    
}
.top-left{
    top: 90px;
    left: 10px;
}
.canada{
    top: 170px;
    left: 10px;
}
.top-right{
    top: 90px;
    left: 490px;
}
.health{
    top: 170px;
    left: 490px;
}
.bottom-left{
    top: 310px;
    left: 10px;
}
.worklife{
    top: 375px;
    left: 10px;
}
.bottom-right{
    top: 300px;
    left: 500px;
}
.culture{
    top: 375px;
    left: 500px;
}

/******************************
BOTTOM 
/******************************/

.bottom{
    border: 5px solid green;
    width: 100%;
    height: 500px;
    /* position: relative; */
    /* align-items: flex-end; */
    float: left;
    margin: 15px;
}
.container{
    border: 5px solid rgb(17, 0, 128);
    width: 45%;
}
.bottom > section{
    /* width: 33.3333%; */
    float: left;
}
.bottom > h2{
float: left;
/* width: auto; */
/* margin: 10px; */
}
.biden{
    float: left;
}